@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col">
            <ul id="messagesList" class="list-group">

            </ul>
        </div>
    </div>         
</div>

